@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f9fa;
    --foreground: #000000;
    --card: #f8f9fa;
    --card-foreground: #000000;
    --popover: #f8f9fa;
    --popover-foreground: #000000;
    --primary: #2160d0;
    --primary-foreground: #f8f9fa;
    --secondary: #f1f3f5;
    --secondary-foreground: #607380;
    --muted: #e9ecef;
    --muted-foreground: #607380;
    --accent: #f1f3f5;
    --accent-foreground: #2160d0;
    --destructive: #d93036;
    --destructive-foreground: #f8f9fa;
    --border: #f1f3f5;
    --input: #f1f3f5;
    --ring: #2160d0;
    --radius: 0.625rem;
  }

  .dark {
    --background: #212121;
    --foreground: #f8f9fa;
    --card: #2d2d2d;
    --card-foreground: #f8f9fa;
    --popover: #2d2d2d;
    --popover-foreground: #f8f9fa;
    --primary: #2160d0;
    --primary-foreground: #212121;
    --secondary: #3d3d3d;
    --secondary-foreground: #f8f9fa;
    --muted: #3d3d3d;
    --muted-foreground: #b3b3b3;
    --accent: #3d3d3d;
    --accent-foreground: #f8f9fa;
    --destructive: #e64a4a;
    --destructive-foreground: #f8f9fa;
    --border: #ffffff1a;
    --input: #ffffff26;
    --ring: #2160d0;
  }
}
